<html>
{% load static %}
<head>
    <title>Password reset complete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container" style="margin-top: 50px">
    <div style="margin: auto;">
    <p style="font-size: 20px; color: #204d74;">
        Password reset Complete. You may login now</p><br>
    </div>
    <div>
    <p style="font-size: 20px; color: #204d74;"><a href="{% url 'email-login' %}">Log in</a></p>
    </div>
</div>
</body>
</html>