<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="{% static "InfoSystem/bootstrap.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
{#    <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}
{#</body>#}
{#</html>#}

<form class="form-horizontal" style="width: 40%;margin-left: auto;margin-right: auto" method="post">
    {% csrf_token %}
  <fieldset>
    <legend style="font-weight: bolder;margin-bottom: 20px; padding: 20px">Sign Up</legend>
        <div class="form-group">
          <label for="id_username" class="col-lg-2 control-label">Username: </label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="id_username" placeholder="User Name">
              <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
          </div>
        </div>
    <div class="form-group">
      <label for="id_email" class="col-lg-2 control-label">Email: </label>
      <div class="col-lg-10">
        <input type="email" class="form-control" id="id_email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="id_password1" class="col-lg-2 control-label">Password: </label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="id_password1" placeholder="Password">
      </div>
    </div>
      <div class="form-group">
      <label for="id_password2" class="col-lg-2 control-label">Re-enter Password: </label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="id_password2" placeholder="Password">
          <span class="helptext">Enter the same password as before, for verification.</span>
      </div>
    </div>
      <div class="form-group">
          <label for="id_name" class="col-lg-2 control-label">Name: </label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="id_name" placeholder="Enter your Name">
              <span class="helptext">Enter the name given in the application form</span>
          </div>
        </div>
      <div class="form-group">
          <label for="id_mobile" class="col-lg-2 control-label">Mobile: </label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="id_mobile" placeholder="Mobile">
          </div>
        </div>

      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</body>
</html>