<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href="{% static 'InfoSystem/bootstrap.css' %}">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Links page for admin</title>
</head>
<body>
    <div class="jumbotron" style="width: 60%; margin: 0 auto">
        <div class="container">
            <div style="margin: 0 auto">
                <h3>Links</h3>
            </div>
            <div>
                Link for uploading student and parent info - <a href="{% url 'upload_info' %}">Click here</a>
            </div>
            <div>
                Link for uploading results - <a href="{% url 'upload_results' %}">Click here</a>
            </div>
        </div>
    </div>
</body>
</html>